body {
  padding: 50px;
}

.container {
  background: aqua;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-group {
  margin-bottom: 30px;
}

.btn {

  --bs-btn-padding-y: 0.1rem;
  --bs-btn-font-size: 0.8rem;
}
